{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./src/tsconfig_base.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-react"
  ],
  "rules": {
    "@typescript-eslint/quotes": "warn",
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 1,
        "maxEOF": 0,
        "maxBOF": 0
      }
    ],
    "no-trailing-spaces": "warn",
    "@typescript-eslint/no-unused-var": "off"
  }
}